@tailwind base;
  @tailwind components;
  @tailwind utilities;

body {
  @apply text-2xl; /* Ändere die Klasse auf die gewünschte Textgröße (z.B., text-6xl für noch größeren Text) */
}
/* Button-Klasse */
button {
  @apply px-4 py-2 rounded-lg text-white font-semibold ;
}
.fcard {
  @apply bg-purple-300 shadow-sm rounded-xl p-4 border-2 border-purple-800
}
/* CSS für die Einblende-Animation */
.result-text {
    @apply text-4xl font-bold text-black w-full;
  user-select: none;

  position: absolute;
  text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* ignoriere mouse events */
    pointer-events: none;

  opacity:0; /* Standardmäßig unsichtbar */
  transition: opacity 0.3s ease-in-out;

  /* Animationseffekte */
}

.result-text.show {
  transition: opacity 0.3s ease-in-out;

  opacity: 1; /* Sichtbar */

}